<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	
	<!-- 관리자 등록 -->
	<insert id="insert" parameterType="Admin">
		insert into admin(admin_id, admin_pwd, admin_name)
		values(#{admin_id}, #{admin_pwd}, #{admin_name})
	</insert>	
	
	<!-- 로그인 인증 -->
	<select id="loginCheck" parameterType="Admin"  resultType="Admin">
		select * from admin where admin_id=#{admin_id} and admin_pwd=#{admin_pwd}	
	</select>
	
</mapper>