<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.sds.movieadmin.domain.Admin" alias="Admin"/>
		<typeAlias type="com.sds.movieadmin.domain.Movie" alias="Movie"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/sds/movieadmin/mybatis/AdminMapper.xml" />
		<mapper resource="com/sds/movieadmin/mybatis/MovieMapper.xml" />
	</mappers>
</configuration>