<th:block th:fragment="header_link">	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
	
	<!-- Css Styles -->
	<link rel="stylesheet" href="/recommend/site/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/plyr.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/recommend/site/css/style.css" type="text/css">
	<script type="text/javascript">
		function logout(){
			$.ajax({
				url:"/member/logout",
				type:"post",
				success:function(result, status, xhr){
					location.href="/";
				}
			});		
		}		
	</script>
</th:block>