<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>
	
	<!-- 헤더링크 -->
	<th:block th:replace="~{fragments/header_link :: header_link}"/>
	
</head>

<body>
    <!-- Page Preloder -->
	<th:block th:replace="~{fragments/preloader :: preloader}"/>
	
    <!-- Header Section Begin -->
    <th:block th:replace="~{fragments/header :: header}"/>
    <!-- Header End -->


    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="/site/img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Welcome to the official Anime blog.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="Email address">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="#" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>or</span>
                            <ul>
                                <li><a href="javascript:getAuthForm('naver')" class="facebook">
                                	<i class="fa fa-facebook"></i> Sign in With Naver</a>
                                </li>
                                <li><a href="javascript:getAuthForm('google')" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                                <li><a href="javascript:getAuthForm('kakao')" class="twitter"><i class="fa fa-twitter"></i> Sign in With KaKao</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->

	



	<!-- Footer Section Begin -->
	<th:block th:replace="~{fragments/footer :: footer}"/>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<th:block th:replace="~{fragments/search :: search}"/>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<th:block th:replace="~{fragments/footer_link :: footer_link}"/>
	
</body>
</html>
<script type="text/javascript">

	//사용자가 로그인 시도 시, IDP 쪽으로 가져갈 링크 얻기 
	function getAuthForm(sns){
		//서버측에서 만들어놓은 링크를 가져오자, 비동기로 가져와야 새로고침없이 가져온다..
		$.ajax({
			url:"/rest/member/authform/"+sns,
			type:"GET",
			success:function(result, status, xhr){
				//console.log("IDP 업체에 요청할 주소 및 파라미터는 "+result);
				//SNS 로그인 인증화면 요청 
				location.href=result;
				//console.log(result);
				
			}
		});
		
	}	
</script>






