@import "./navigator.css";

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

body a {
  text-decoration: none;
}

.main_page-container {
  background-color: black;
  box-sizing: border-box;
  padding: 0 5%;
  min-width: 390px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main_page-container>* {
  padding: 0 5%;
}

.main-today {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-today-left {
  display: flex;
  align-items: center;
}

.main-today-left>span {
  font-size: 2em;
  font-weight: 700;
}

.main-clock {
  font-size: 1.4em;
  display: none;
}

.main-calender {
  width: 2em;
  text-align: center;
  margin: 0 1em;
}

.main-calender-month {
  background-color: #eb3b59;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  font-size: 0.7em;
}

.main-calender-date {
  background-color: white;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  color: #222;
  height: 1.2em;
  font-size: 0.9em;
}

.main-today-recommend-box {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  height: 200px;
  margin: 1em 0;
  padding-bottom: 1em;
  position: relative;
}

.main-today-recommend-box::-webkit-scrollbar {
  display: none;
}

.main-today-recommend>* {
  z-index: 1;
}

.main-today-recommend::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/daily1.png");
  background-size: cover;
  opacity: 0.4;
  border-radius: 1em;
}

.main-today-recommend:nth-child(2)::before {
  background-image: url("../images/daily2.png");
}

.main-today-recommend:nth-child(3)::before {
  background-image: url("../images/daily3.png");
}

.main-today-recommend:last-child::before {
  background-image: url("../images/daily4.png");
}

.main-today-recommend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 1em;
  border-radius: 1em;
  margin-right: 1em;
  overflow: visible;
}

.main-today-recommend:hover {
  cursor: pointer;
}

.main-today-recommend:last-child {
  margin-right: 0;
}

.main-today-recommend-info {
  color: #647181;
}

.main-today-recommend-title {
  font-size: 1.5em;
  font-weight: 650;
}

.main-today-recommend-go {
  width: 70%;
  margin-right: 11em;
  background-color: #4c5a67;
  display: flex;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  font-weight: 600;
}

.main-today-recommend-go img {
  width: 1.5em;
  border-radius: 0.3em;
  height: 1.5em;
  margin-right: 0.5em;
}

.main-today-recommend-trend {
  position: absolute;
  font-size: 0.9em;
  right: 0;
  top: 0;
  padding: 0.7em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  text-align: center;
  background-color: #e7e7e7;
  color: #647181;
  font-weight: 700;
}

.main-today-chart-desc {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5em 0;
}

.main-today-chart-box {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  margin-bottom: 5em;
  margin: 0 1em;
}

.main-today-chart-box::-webkit-scrollbar {
  display: none;
}

.main-today-chart {
  width: 95%;
  margin-right: 6em;
}

.main-today-chart-ott {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 650;
  margin-right: 5em;
  margin-bottom: 1em;
}

.main-today-chart :last-child {
  margin-right: 0;
}

.main-today-chart-ott img {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.main-today-chart_list {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}

.main-today-chart_list:hover {
  cursor: pointer;
}

.main-today-chart_list>span:last-child {
  width: 8em;
}

.main-today-chart_list img {
  width: 3.4em;
  height: 5.1em;
  margin-right: 0.7em;
}

.main-today-chart_list span:first-child,
.main-today-top10>div>span:first-child {
  display: block;
  width: 0.6em;
  font-size: 3em;
  opacity: 0.2;
  font-weight: 750;
}

.main-today-chart_list span:last-child,
.main-today-top10>div>span:last-child {
  font-size: 1.3em;
}

.main-today-top10-desc {
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0;
}

.main-today-top10 img {
  height: 5.4em;
  width: 3.6em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.main-today-top10>div {
  display: flex;
  align-items: center;
}

.main-today-top10 div span:first-child {
  margin-right: 0.5em;
}

.main-video_box {
  box-sizing: border-box;
  min-width: 390px;
  max-width: 680px;
  background-color: #181818;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20px;
  border-radius: 20px;
  padding: 0 5%;
}

.main-video-img {
  width: 100%;
  margin: 0 auto;
}

.main-video-title {
  font-size: 2em;
  font-weight: 700;
  margin: 1em auto;
}

.main-video-hot {
  background-color: #fbc500;
  color: black;
  width: 5.5em;
  padding: 0.3em 0.5em;
  margin: 1em 0;
  border-radius: 0.3em;
}

.main-video-info {
  margin: 1em 0;
  opacity: 0.6;
}

.main-video-buttons {
  display: flex;
}

.main-video-buttons>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6em;
}

.main-video-buttons>div:nth-child(2),
.main-video-buttons>div:last-child {
  border: 2px solid #90908f;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.main-video-go {
  background-color: white;
  color: black;
  width: 6.5em;
  height: 2em;
  border-radius: 0.2em;
}

.main-video-go i {
  margin-right: 0.5em;
}

.main-video-go a {
  color: black;
}

.main-video-description {
  display: flex;
  justify-content: space-between;
}

.main-video-synopsis {
  width: 60%;
}

.main-video-etc span {
  opacity: 0.5;
}

.main-video-close_button {
  width: 25px;
  font-size: 20px;
  color: white;
  background-color: #181818;
  border: none;
  margin: 2em 0;
}

.hidden {
  display: none;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.main-footer-container a {
  color: white;
}

.main-footer-container>div:first-child {
  font-size: 5em;
  margin: 0.6em;
}

.main-footer-container>div:nth-child(2) {
  font-size: 2em;
  font-weight: 700;
}

.main-footer-container>div:nth-child(3) {
  opacity: 0.7;
  margin: 1em;
}

.main-footer-button {
  font-weight: 600;
  background-color: #4c5a67;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 3em;
  margin: 0.5em;
  border-radius: 0.3em;
}

.super-hidden::after {
  content: "";
  background-color: black;
  opacity: 0.5;
}

.main-shadow {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  opacity: 0.7;
  z-index: 4;
}

.main-random_poster:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  .main-today-top10 {
    display: flex;
    overflow: scroll;
    white-space: nowrap;
  }

  .main-today-top10>div {
    margin-right: 1em;
    align-items: baseline;
  }

  .main-today-top10>div>img {
    width: 8em;
    height: 12em;
  }

  .main-today-top10::-webkit-scrollbar {
    display: none;
  }

  .main-today-top10 .main-random_title {
    display: none;
  }

  .main-clock {
    display: contents;
  }

  .main-today-top10>div>span:first-child {
    margin-right: 0;
  }

  .main-today-top10 div span:first-child {
    font-size: 6em;
  }

  .main-today-top10>div:last-child span:first-child {
    margin-right: 0.45em;
  }
}

iframe {
  width: 100%;
  height: 236px;
}