<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>openapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<!-- 병원 목록 요청 서블릿 매핑 -->
	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>com.sds.openapp.medic.ListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/medic/list</url-pattern>
	</servlet-mapping>
	
	<!-- 맛집 목록 요청 서블릿 매핑 -->
	<servlet>
		<servlet-name>storeList</servlet-name>
		<servlet-class>com.sds.openapp.store.ListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>storeList</servlet-name>
		<url-pattern>/store/list</url-pattern>
	</servlet-mapping>
		
</web-app>






