<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.recommendproject.model.movie.MovieDAO">
	
	<select id="selectCount" resultType="int">
		select count(*) from movie
	</select>
	
	<select id="selectAll" parameterType="java.util.Map" resultType="Movie">
		select * from movie limit  #{startIndex} , #{rowCount}
	</select>	
	
	<select id="select" parameterType="int" resultType="Movie">
		select * from movie where movie_idx=#{movie_idx}
	</select>
	
</mapper>	