<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>AsyncBoard</display-name>
	
	<!-- 글쓰기 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.sds.asynboard.board.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/board/regist</url-pattern>
	</servlet-mapping>
	
	<!-- 글 목록 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>com.sds.asynboard.board.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/board/list</url-pattern>
	</servlet-mapping>
	
	<!-- 글 상세보기 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>com.sds.asynboard.board.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/board/detail</url-pattern>
	</servlet-mapping>
	
	<!-- 글 수정 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.sds.asynboard.board.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/board/edit</url-pattern>
	</servlet-mapping>
	
</web-app>





