<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<!--회원 정보 등록  -->
	<insert id="insert" parameterType="Member">
		insert into member(id, pass, name, email) values(#{id}, #{pass}, #{name}, #{email})
		
		<selectKey 
			keyColumn="member_idx" 
			resultType="int" 
			keyProperty="member_idx" 
			order="AFTER">
			select last_insert_id() as member_idx
		</selectKey>
	</insert>	


</mapper>