<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sds.mall.domain.TopCategory" 	alias="TopCategory"/>		
		<typeAlias type="com.sds.mall.domain.SubCategory" 	alias="SubCategory"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="com/sds/mall/mybatis/TopCategoryMapper.xml" />
		<mapper resource="com/sds/mall/mybatis/SubCategoryMapper.xml" />
	</mappers>
	
</configuration>