<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnS">
	
	<!-- 한건 가져오기 -->
	<select id="select" parameterType="int" resultType="SnS">
		select * from sns where sns_idx=#{sns_idx}
	</select>
	
	<!-- 현재 사용중인 SnS 의 고유값 얻어오기 -->
	<select id="selectByName" parameterType="String" resultType="SnS">
		select * from sns where sns_name=#{sns_name}
	</select>
	
</mapper>