<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>newsapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<!-- 서블릿 매핑 -->
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.sds.newsapp.news.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/news/regist</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>writeServlet</servlet-name>
		<servlet-class>com.sds.newsapp.news.WriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeServlet</servlet-name>
		<url-pattern>/news/write</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.sds.newsapp.news.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/news/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>com.sds.newsapp.news.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/news/delete</url-pattern>
	</servlet-mapping>
	
	<!-- 댓글 등록 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>registComments</servlet-name>
		<servlet-class>com.sds.newsapp.comments.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registComments</servlet-name>
		<url-pattern>/comments/regist</url-pattern>
	</servlet-mapping>
		
	<!-- 댓글 목록 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>listComments</servlet-name>
		<servlet-class>com.sds.newsapp.comments.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listComments</servlet-name>
		<url-pattern>/comments/list</url-pattern>
	</servlet-mapping>
		
</web-app>





